{% if list.getPager.haveToPaginate %}
    {{ list.control|raw }}
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        /**
         * Create the table sorting links (th.sortable => th.sortable > a)
         */
        $('#{{ list.options.container_id }} thead th.sortable').each(function(){
            uri = "{{ path(list.options.route, list.options.route_parameters) }}";
            uri = updateQueryStringParameter('orderby', $(this).data('filter'), uri);
            var way;
            if ('{{ list.orderby }}' === $(this).data('filter')) {
                way = "{{list.toggleWay}}";
            } else {
                way = "ASC";
            }
            uri = updateQueryStringParameter('way', way, uri);
            title = $(this).html();
            link = '<a href="'+uri+'">'+title+'</a>';
            $(this).html(link);
        });
    });
</script>

<div id="canvasloader-container" style="display: none;">
    <img src="/bundles/avlist/images/ajax-loader.gif" title="Chargement en cours" alt="Chargement" width="32" height="32">
</div>
