<div id="{{list.options.container_id}}" class="{{list.options.container_class}}">
    {% include list.template %}
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click', '#{{ list.options.container_id }} .pagination a, #{{ list.options.container_id }} .sortable a', function(event) {
            $('#canvasloader-container').fadeIn();
            event.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                context: document.body,
                type: "GET",
                success: function(data) {
                $('#canvasloader-container').fadeOut();
                $("#{{list.options.container_id}}").html(data);
                },
                error: function(data) {
                    $('#canvasloader-container').fadeOut();
                    alert("Il semble s'êre produit une erreur");
                }
            });

            return false;
        });
    });

    /**
     * update the url with parameters
     * @return string The url with the related param
     */
    function updateQueryStringParameter(key, value, uri) {
      var re = new RegExp("(&|\\?)"+key+"=[^\&]*", "i");
      separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
        return uri.replace(re, '$1' + key + "=" + value);
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
</script>
